.mainContainer {
  display: grid;
  margin-top: 4.5em;
  width: 100%;
  height: calc(100vh - 7.5em);
  grid-gap: 1.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(50vh - 3.75em) 1fr;
  grid-template-areas: "a b"
                       "a c"
}


.statisticsContainer {
  background: #242A39;
  border-radius: 8px;
  grid-area: c;
}

.editorArea {
  color: #B2B5BE;
  overflow: auto;
  background: #242A39;
  border-radius: 8px;
  grid-area: a;
}

.logsContainer {
  background: #242A39;
  border-radius: 8px;
  grid-area: b;
  overflow-y: scroll;
  padding-left: 1em;
  padding-top: 1em;
}



