.mainContainer {
  margin-top: 6em;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 1fr 20vw;
  grid-template-rows: 50vh calc(50vh - 9em);
  grid-template-areas: "a b"
                       "c c"
}

.settingsContainer {
  background: #242A39;
  grid-area: b;
}

.chartCarousel {
  background: #242A39;
  grid-area: c;
}
