.notificationContainer {
  display: flex;
  justify-content: flex-end;

  & :hover {
    fill: #92959B;
  }
}

.bell {
  height: 2.3em;
  width: 2.3em;
  margin-left: 1em;
  fill: #777A82;
}

.notificationPopoutOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.notificationPopout {
  position: absolute;
  width: 30em;
  height: 100vh;
  right: 0;
  top: 0;
  background: #161A25;
}

.badge {
  text-align: center;
  position: absolute;
  height: 1.2em;
  width: 1.2em;
  background: red;
  border-radius: 50%;
}
