.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  width: calc(90%);
  background: rgba(22, 26, 37, 0.6);

  & :hover {
    cursor: pointer;
  }
}

.searchBar {
  width: 60em;
  height: 2.5em;
  color: #B2B5BE;
  padding: 0 1em;
  background: #242A39;
  outline: none;
  border: none;
}

.bell {
  height: 2.3em;
  width: 2.3em;
  margin-left: 1em;
  fill: #B2B5BE;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 2.3em;
  width: 2.3em;
  fill: #05AC70;
}
