.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  width: calc(100% - 50px);

  & :hover {
    cursor: pointer;
  }
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 2.3em;
  width: 2.3em;
  fill: #05AC70;
}
